.Nft {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: solid 1px;
    border-radius: 10px;
    border-color: white;
    background-color: #65686ec0;
    box-shadow: 0px 0px 3px yellowgreen;
}

.Nft:hover { 
    box-shadow: 0px 0px 20px yellowgreen;
    transform:scale(1.03);
}
  
.Nft img {
    margin: 10px;
    box-shadow: 2px 3px 6px gray;
}

.Nft h6 {
    font-size: medium;
    color: white;
    margin-left: 20px;
}