.Nft {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    border: solid 1px;
    border-radius: 10px;
    border-color: white;
    background-color: #65686ec0;
    box-shadow: 0px 0px 5px yellowgreen;
}
  
.Nft img {
    margin: 10px;
    height: 250px;
    width: 250px;
    box-shadow: 2px 3px 6px gray;
}

.Nft h6 {
    font-size: medium;
    color: white;
    margin-left: 20px;
}